/* line 12, ../sass/sk-pagination.scss */
.sk-pagination-wrp {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* line 18, ../sass/sk-pagination.scss */
.sk-pagination-wrp * {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* line 25, ../sass/sk-pagination.scss */
.sk-pagination-wrp .sk-content {
  margin: 0 0 10px 0;
}
/* line 28, ../sass/sk-pagination.scss */
.sk-pagination-wrp .sk-pagination {
  float: right;
  margin-right: 20px;
  font-size: 0;
  list-style: none;
}
/* line 36, ../sass/sk-pagination.scss */
.sk-pagination-wrp .sk-pagination li {
  display: inline-block;
  margin-left: -1px;
  font-size: 0;
  text-align: center;
  line-height: 30px;
  border: 1px solid #cacaca;
  background: #fff;
  cursor: pointer;
  -moz-transition: background 0.1s linear;
  -o-transition: background 0.1s linear;
  -webkit-transition: background 0.1s linear;
  transition: background 0.1s linear;
}
/* line 48, ../sass/sk-pagination.scss */
.sk-pagination-wrp .sk-pagination li:first-child {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
/* line 52, ../sass/sk-pagination.scss */
.sk-pagination-wrp .sk-pagination li:last-child {
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* line 56, ../sass/sk-pagination.scss */
.sk-pagination-wrp .sk-pagination li:hover, .sk-pagination-wrp .sk-pagination li.active {
  border: 1px solid #51b5e2;
  background: #51b5e2;
  z-index: 20;
}
/* line 61, ../sass/sk-pagination.scss */
.sk-pagination-wrp .sk-pagination li:hover a, .sk-pagination-wrp .sk-pagination li.active a {
  color: #fff;
}
/* line 66, ../sass/sk-pagination.scss */
.sk-pagination-wrp .sk-pagination li.active a {
  cursor: default;
}
/* line 71, ../sass/sk-pagination.scss */
.sk-pagination-wrp .sk-pagination li a {
  display: block;
  min-width: 30px;
  height: 30px;
  padding: 0 10px;
  font-size: 14px;
  color: #4898bb;
  text-decoration: none;
}
/* line 84, ../sass/sk-pagination.scss */
.sk-pagination-wrp .sk-pagination .first a, .sk-pagination-wrp .sk-pagination .prev a, .sk-pagination-wrp .sk-pagination .next a, .sk-pagination-wrp .sk-pagination .last a {
  min-width: 50px;
}
